<div id="devise">
  <div class="barra-superior-devise">
	  <a href="/">
		  <h1>SERIESCHUCHU</h1>
		</a>
	</div>
  <div class="contenido-devise">
    <h1>MODIFICAR CUENTA<!--<%= resource_name.to_s.humanize %>--></h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="devise-input"><%= f.label :email %>
			  <br/>
        <%= f.email_field :email, :autofocus => true %>
			</div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
				  Currently waiting confirmation for: <%= resource.unconfirmed_email %>       
				</div>
      <% end %>

      <div class="devise-input">
			  <!--<%= f.label :password %> <i>(dejar en blanco si no quieres que cambie)</i>
				<br/>-->
        <%= f.password_field :password, :autocomplete => "off", :placeholder => "Password(dejar en blanco si no quieres que cambie)" %>
		  </div>

      <div class="devise-input">
				<!--<%= f.label :password_confirmation %>
				<br/>-->
        <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %>
			</div>

      <div class="devise-input"><%= f.label :current_password %>
        </br>
        <!--<%= f.label :current_password %> <i>(Necesitamos tu contraseña actual para confirmar tus cambios)</i>
			  <br />-->
        <%= f.password_field :current_password, :placeholder => "Password actual(campo obligatorio si quieres modificar algo)" %>
		  </div>

      <div><%= f.submit "Modificar" %></div>
    <% end %>

  <p>¿Quieres cancelar tu cuenta? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro de querer cancelarla?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>
  </div>
</div>
