- usuario = User.where(:id=> params["id"] )
- usuario.each do |u|
  .perfil-principal
    .perfil-imagen
      - enlaceimagen = avatar_url(u)
      %img{:src=>"#{enlaceimagen}"}
    .perfil-info
      %h2 #{u.username}
      - @follow_show = FollowShow.where(user_id: params["id"]) 
      %p
        Este usuario sigue un total de #{@follow_show.count} series 
  .interior-1000
    %h2.no-top Series que sigue #{u.username}
    - @follow_show.each do |serie_actual|
      - actual = Series.where(id: serie_actual.series_id)
      - actual.each do |miserie|
        %a{:href=>"../series/#{miserie.id}"}
          .tipo-serie-catalogo
            %img{:src=>miserie.enlace_imagen}
            %label #{miserie.nombre}
