<!DOCTYPE html>
<html>
<head>
  <title>Serieschuchu</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "inicio", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="barra-top">
	<div class="interior-series">
		<div class="logo-top">
			<a href="/inicio/portada">
				<img src="/assets/logo_principal.png"/>
			</a>
		</div>
		<div class="menu-top">
			<ul>
			<li> Mis Series</li>
			<li> Amigos </li>
			<a href="/series">
				<li> Catálogo</li>
			</a>
			</ul>
		</div>
		<div class="login-top">
			<div class="login-top-imagen">
				<%= image_tag avatar_url(current_user) %>
			</div>
			<div class="login-top-texto">
				<%=current_user.username%> 
				<br/>
				<label class="mini">
					<%=link_to("Sign out", destroy_user_session_path, :method => :delete) %>
				</label>
			</div>
		</div>
		<div class="buscador-top">
			<input type="text" placeholder="Buscar" name="buscar"/>
		</div>
	</div>
</div>

<div class="interior-series">

	<%= yield %>

</div>

</body>
</html>
